<table>
<% @memes.each do |meme| %>
  <tr>
    <td>
      <img src='<%= meme.image_url %>'/>
    </td>
    <td>
      Meme Type: <%= meme.meme_type.gsub('_', ' ') %>
      <br />
      <%= meme.first_line %>
      <br />
      <%= meme.second_line %>
    </td>
  </tr>
<% end %>
</table>
